@CHARSET "ISO-8859-1";

/* ///despleguar el menu/// */
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
	border-width: 0px;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-south {
	z-index: 20 !important;
	overflow: visible !important;
	border-width: 0px;
}

.ui-layout-south .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-center{
	
	border-width: 0px;	
}
/*////////////////////////////*/

/* ///tamaño de letra/// */
.tblPla .ui-widget, .ui-widget .ui-widget {
	/*font-size: 12px !important;*/
}

.tblPla {
	font-size: 12px !important;
	
}

.tblPlaC {
	font-size: 12px !important;	
}

.tblPlaC .ui-widget-header {
	background: #ff8040;
	text-align: center;
	border-color: #ff8000;
}



/*////////////////////////////*/
/*
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield 
	.ui-datatable .ui-column-filter {
 	display: block;
    width: 90%;
    margin: auto;  
}*/

.header{
	
    height: 70px;
    /*padding: 31px 0;*/
    background: #333d40;
    text-aling: center;
    
    
}

.header .labheader{
	text-align: center;
	font-size: 30px !important;
	/* padding: 0 31px ; */
	color: white;
}

.center{
	margin-top: 78px; 
	position: static;
}

/*////ocultar calendario/////*/

.pnlVen td {
    width: 25%;
}

.pnlVenG td {
    width: 20%;
}

.liquidar .ui-widget-header {
	background: #4FC021;	
}

.oficina .ui-widget-header {
	background: #5cb85c;
}

.oficina1 .ui-widget-header {
	background: #5cb85c;
}

.oficina1{
	background: #eeeeee;
}

.horasE{
	background: #eeeeee;
}

.horasEA{width: 20%; 	height:auto; padding: 1px}
.horasEB{width: 30%; 	height:auto; padding: 1px}
.horasEC{width: 20%; 	height:auto; padding: 1px}
.horasED{width: 30%; 	height:auto; padding: 1px}

.horasEP.ui-panelgrid>*>tr,
.horasEP.ui-panelgrid .ui-panelgrid-cell {
    border-style: none;
	background: #eeeeee;
}

/*////ocultar calendario/////*/
.promedio{
	position:absolute;
	left: 5px;
}

/*////quita el color del header de la pagina/////*/
.headerPage  .ui-layout-unit-header .ui-widget-header{
	padding: 0;
	background: none;	
}

.ui-panel .frmProVen .tituloVenta{
	text-align: center;
    /*padding: 2.0em;*/
}

.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 0.2em 0.2em;
    background: none;
}

/*/////tamaño del filtro de busqueda de la tabla/////*/


.tblPla .ui-datatable .ui-column-filter{display:block;width:10px;margin:auto;}

/*grid 4*/

ui-grid-col-4{
	width: 410px;
}

/* quitar grid del panel grid */


/*
.ui-selectonemenu-filter-container {
    width: 20% !important;
}*/

.ui-selectonemenu {
min-width: 0 !important;
}	

/* tamaño de celdas del Grid */
.column1{width: 17%;height:auto}
.column2{width: 33%;height:auto}
.column3{width: 17%;height:auto}
.column4{width: 33%;height:auto}

.pnlGps{font-size: 16px} 

.pnlGps .ui-panelgrid .ui-panelgrid-cell{
	
	/*border-style: none;*/
	padding: 1px, 0; 
}

.pnlGps.ui-panelgrid>*>tr,
.pnlGps.ui-panelgrid .ui-panelgrid-cell {
    border-style: none;
	padding: 0; 
}

/* tamaño de celdas del Grid */
.columnA{width: 20%;height:auto; padding: 20px}
.columnB{width: 35%;height:auto; padding: 1}
.columnC{width: 23%;height:auto; padding: 1}
.columnD{width: 40%;height:auto; padding: 1}

.pnlGpsA.ui-panelgrid>*>tr,
.pnlGpsA.ui-panelgrid .ui-panelgrid-cell {
    border-style: none;
	padding: 2px 3px; 
}

.columnf{width: 100%;height:50px; padding: 1}
.columnF{width: 50%;height:50px; }
.columnG{width: 50%;height:50px; }

.ui-icon.myList{
    background-image: url(../resources/images/list.png) !important;
}


.panel1.ui-panel .ui-panel-content{ 
	padding: 0;
}

      